<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>    
  </head>
  <body>
    <span>Test</span>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script> 
    <script src="https://notify.brand.zing.vn/socket.io/socket.io.js"></script>    
    <script>         
        var adtimaNotifyConfig = {
            domainName : 'localhost'
        };         
    </script>   
    <script src="https://stc-notify-brand.zdn.vn/public/notify.js"></script> 
    <link href="https://stc-notify-brand.zdn.vn/public/notify.css" rel="stylesheet" type="text/css"/>    
  </body>
</html>
